* {
	margin:0;
	padding: 0;
}

/* start header*/
.header {
	min-height: 100px;
	background-color: #121B2A;
	overflow: hidden;
}

.wrapper {
	width: 80%;
	margin:0 auto;
}

.logo {
	margin-top: 5px;
	width: 20%;
	float: left;
	/*border: 1px solid white;*/
}


.nav {
	width: 70%;
	float: right;
	/*border: 1px solid white;*/
	 margin-top: 35px;
	 margin-right: -34px;
}

.nav ul {
   list-style: none;
}
.nav ul li {
  float: left; 
}

.nav ul li a {
   text-decoration: none;
   color: #ffffff;  
   padding:0 30px;
   font-size:20px;

}

.nav ul li a:hover {
	 color:#0078BD;
}

/* header end*/
 

/*Start banner*/
 .banner {
 	background-image: url(../img/bg.jpg);
 	min-height: 500px;
 	background-repeat: no-repeat;
 	background-size: cover;
 	background-position: center;
 	overflow: hidden;
 	border-top: 3px solid #164D76;
 	border-bottom: 3px solid #164D76;
}

.banner_text {
	width: 50%;
	margin-top: 135px;
}

.banner_text h3 {
	color: #ffffff;
	font-size: 30px;
}

.banner_text h1 {
	color: #0073B6;
	font-size: 40px;
	font-weight: bold;
}

.banner_text p {
	color: #DDDEE1;
	font-size: 20px;
	font-weight: normal;
}

.banner_text button {
 background-color: #ffffff;
 padding: 10px 25px;
 border:none;
 border-radius: 3px;
 margin-top: 30px;
 color: gray;
 text-transform: uppercase;
}

.banner_text button:hover {
 background-color: #1079B2;
 color: #ffffff;
}
/*End banner*/

/*start service*/

.service {
	background-color: #121B2C;

	overflow: hidden;
	padding: 70px 0;
}

.service_section {
	margin-right: -198px;
	overflow: hidden;


}

.service1 {
	float: left;
	width: 30%;
	border-right: 1px solid #1A2430;
	margin-right: 10px;

}
.service1:last-child {
 border: none;
}
.content {
	overflow: hidden;

}

.content_img {
	width: 30%;
	float: left;
    margin-left:-12px;

}

.content_text {
    width: 60%;
	float: right;
	margin-right: 53px;
	margin-top: 20px;
	
}

.content_text h1 {
	color: #ffffff;
	font-size: 25px;
}
.content_text p{
	color: #0079BC;
	font-size: 30px;
}
.wireless {
	margin-top: 25px;
}
span {
	color: #0079BC;
}
.feature  {
	color: #ffffff;
	margin-right: 20px;
	font-size: 19px;
}
/*end service*/

/*start testimony*/
.testimony {
	min-height: 300px;
	background-color: #030711;
}

.oceans {
	padding: 72px 148px;
    color: #ffffff;
}

.oceans h2 {
	margin-bottom: 10px;
	padding-left: 2px;
}
.address {
	padding: 10px 0px;
    font-size: 15px;
    color: #A0A0A0;
}
.address1 {
	padding: 13px 0px;
    font-size: 15px;
    color: #A0A0A0;
    margin: -12px 0;
}
.comment {
	padding: 42px 10px;
	background-color: #0B1019;
	margin: -211px 494px;
    color: #ffffff;
}
.comment h2 {
	margin-left: 88px;
}
.comment p{
  margin-left: 88px;
  margin-top: 10px;
  color: #A0A0A0;
}

.test_img img{
	width: 180px;
	height: 250px;
	margin-left: 1080px;
	margin-bottom: 20px;
}
/*end testimony*/

.footer {
	background-color: #121B2C;
	min-height: 120px;
	overflow: hidden;
}

.footer_nav {
     float: left;
    margin-left: 97px;
    margin-top: 54px;
}
.footer_nav ul {
 list-style: none;
}
.footer_nav ul li {
	margin:10px 0;
	display: inline-block;
}
.footer_nav ul li a {
	text-decoration: none;
	color: #A0A0A0;
	padding-left: 41px;
	font-size: 20px;
}

.footer_logo {
	float: right;
}

.footer_logo img {
	width: 322px;
	height: 102px;
	margin-right: 209px;
	margin-top: 16px;
}